#Question 2

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Neem_opal/used_bikes.csv")

In [ ]:
df.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [ ]:
df.columns

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='object')

In [ ]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [ ]:
df.shape

(149, 8)

In [ ]:
memoryusage_before=df.memory_usage()
memoryusage_before

Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

In [ ]:
df1=df.copy()

In [ ]:
df1.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [ ]:
df1.bike_name=df1.bike_name.astype(object)
df1.price=df1.price.astype(object)
df1.city=df1.city.astype(object)
df1.kms_driven=df1.kms_driven.astype(object)
df1.owner=df1.owner.astype(object)
df1.age=df1.age.astype(object)
df1.power=df1.power.astype(object)
df1.brand=df1.brand.astype(object)

In [ ]:
df1.dtypes

bike_name     object
price         object
city          object
kms_driven    object
owner         object
age           object
power         object
brand         object
dtype: object

In [ ]:
df1.memory_usage()

Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

In [ ]:
df1.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [ ]:
after_memory_usage=df1.memory_usage()
after_memory_usage

Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

In [ ]:
print("Original data type  memory usages \n", memoryusage_before)
print("After changing data type memory usages \n", after_memory_usage)

Original data type  memory usages
 Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64
After changing data type memory usages
 Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

#Question 1

Description


● There are 2 datasets present in the file. Data 1 and Data 2


● The primary key for both data1 and data2 is Order Id + Product ID combination (i.e. the
individual datasets do not have any duplicate on this combination)


Provide solution and approach for the following:


1. How to identify the Records (Order ID + Product ID combination) present in data1 but
missing in data2 (Specify the number of records missing in your answer)


2. How to identify the Records (Order ID + Product ID combination) missing in data1 but
present in data2 (Specify the number of records missing in your answer)


3. Find the Sum of the total Qty of Records missing in data1 but present in data2


4. Find the total number of unique records (Order ID + Product ID combination) present in
the combined dataset of data1 and data2

In [ ]:
import pandas as pd

In [ ]:
#reading first sheet data1
dfs1=pd.read_excel("/content/drive/MyDrive/Neem_opal/Records Matching Task.xlsx", sheet_name = 'data1')

In [ ]:
#reading second sheet data2
dfs2=pd.read_excel("/content/drive/MyDrive/Neem_opal/Records Matching Task.xlsx", sheet_name = 'data2')

In [ ]:
dfs1.head()  ##checking sheet 1

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075  3.0
1  CA-2014-100090  FUR-TA-10003715  3.0
2  CA-2014-100090  OFF-BI-10001597  6.0
3  CA-2014-100293  OFF-PA-10000176  6.0
4  CA-2014-100328  OFF-BI-10000343  1.0

In [ ]:
dfs2.head()  #checking sheet 2

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715  3.0
1  CA-2014-100090  OFF-BI-10001597  6.0
2  CA-2014-100293  OFF-PA-10000176  6.0
3  CA-2014-100328  OFF-BI-10000343  1.0
4  CA-2014-100363  OFF-FA-10000611  2.0

In [ ]:
print(df2["Order ID"].duplicated().sum())
print(df2["Product ID"].duplicated().sum())
print(df2["Qty"].duplicated().sum())

4603
7621
9462

In [ ]:
dfs1.dtypes

Order ID       object
Product ID     object
Qty           float64
dtype: object

In [ ]:
dfs1["Order_product"]=dfs1["Order ID"] + dfs1["Product ID"]   ## joining two column name Order product and Product ID

dfs2["Order_product"]=dfs2["Order ID"] + dfs2["Product ID"]

In [ ]:
dfs1.head()

         Order ID       Product ID  Qty                  Order_product
0  CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343

In [ ]:
dfs2.head()

         Order ID       Product ID  Qty                  Order_product
0  CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611  2.0  CA-2014-100363OFF-FA-10000611

In [ ]:
dfs1.dtypes

Order ID          object
Product ID        object
Qty              float64
Order_product     object
dtype: object

In [ ]:
dfs2.dtypes

Order ID          object
Product ID        object
Qty              float64
Order_product     object
dtype: object

In [ ]:
dfs1.drop("Order ID", axis=1, inplace=True)
dfs1.drop("Product ID", axis=1, inplace=True)

In [ ]:
dfs2.drop("Order ID", axis=1, inplace=True)
dfs2.drop("Product ID", axis=1, inplace=True)

In [ ]:
dfs1.head()

In [ ]:
dfs2.head()

In [ ]:
#dfs2["sss"]= (dfs1["Order_product"] == dfs2["Order_product"])

In [ ]:
#Present in data1 but missing in data2

idx1 = pd.Index(dfs1.Order_product)
idx2 = pd.Index(dfs2.Order_product)

ss=idx1.difference(idx2).values

In [ ]:
ss.shape

(507,)

In [ ]:
idx1 = pd.Index(dfs1.Order_product)
idx2 = pd.Index(dfs2.Order_product)

sss=idx2.difference(idx1).values
sss.shape

(508,)

In [ ]:
#n = len(pd.unique(idx1))

In [ ]:
in1not2=dfs1[~dfs1.Order_product.isin(dfs2.Order_product)]

In [ ]:
in1not2.shape #  We can see no. of data present in 1 but missing in 2

(507, 2)

In [ ]:
in2not1=dfs2[~dfs2.Order_product.isin(dfs1.Order_product)]

In [ ]:
in2not1.shape

(508, 2)